<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ガンランス計算ツール</title>
</head>
<body>
    <h1>ガンランス計算ツール</h1>
    <form method="post" action="/">
        <label for="grade">ガンランスのグレード値を入力(G10なら10を入力): </label>
        <input type="text" id="grade" name="grade"><br><br>
        
        <label for="gunnery_level">砲術のスキルレベル値を入力(レベル4なら4を入力): </label>
        <input type="text" id="gunnery_level" name="gunnery_level"><br><br>
        
        <label for="monster_name">計算したいモンスターの名前を入力(プケプケならプケプケ): </label>
        <input type="text" id="monster_name" name="monster_name"><br><br>
        
        <input type="submit" value="計算">
    </form>
    <br>
    {% if result %}
        <h2>計算結果</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>名前</th>
                    <th>星5</th>
                    <th>星6</th>
                    <th>星7</th>
                    <th>星8</th>
                    <th>星9</th>
                    <th>星10</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in result.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        {% for item in value %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>
